@import 'null.scss';
@import 'fonts.scss';
@import 'variable.scss';
@import 'blocks/header.scss';
@import 'blocks/footer.scss';
@import 'blocks/hero.scss';
@import 'swiper.scss';
@import 'swiper-bundle.min.scss';

/*------------------------*/
.wrapper{
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}
.page{
	flex: 1 1 auto;
} 
body.lock {
	overflow: hidden;
}
body{	
	font-family: 'Conv_gotha-regular';
	background-color: $bgColor;
	color: $textColorLight;
}
.container{
	max-width: 945px;
	margin: 0px auto;
}
.invalid{
	margin: 5px 0;
	color: $primaryText;
}

@media (max-width:1200px) {
	.container{
		padding-right: 15px;
		padding-left: 15px;	
	}
}
@media (max-width:992px) {
	.container{
		max-width: 750px;
	}
}

@media (max-width:767px) {
	.container{
		max-width: 576px;
		padding-right: 8px;
		padding-left: 8px;
	}
}

@media (max-width:576px) {
	.container{
		max-width: 95%;
	}
}
